body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171717;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    
    /* Agrega esta línea para evitar el scroll vertical */
    overflow: hidden;
}



.label {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    
    /* Propiedades para el borde y el tamaño fijo */
    border: 0.5px solid #3E585F;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
    /* Cambios para que el texto se apile */
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    
    padding: 0 10px;
    text-align: center;
}

.label span {
    display: block;   
    white-space: nowrap; 
    line-height: 1.2
    
}

/* Azul - Arriba Izquierda */
.label-top-left {
    top: -185px;       
    left: -125px;      
    color: #177CA2;
    
}

/* Rosa - Arriba Derecha */
.label-top-right {
    top: -185px;
    right: -125px;
    color: #D95477;
    
}

/* Amarillo - Abajo Izquierda */
.label-bottom-left {
    bottom: -185px;
    left: -125px;
    color: #EBEF7B;
    
}

/* Verde - Abajo Derecha */
.label-bottom-right {
    bottom: -185px;
    right: -125px;
    color: #71C963;
    
}








/* Estilos mejorados para el contenedor principal, para que sea responsivo */
.container {
    position: relative;
    width: 50vw;
    max-width: 100px;
    height: 100vw;
    max-height: 100px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Cuadrantes */
.quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.4s ease;
}

.quadrant:hover {
    filter: brightness(1.2);
}

.top-left {
    top: 0;
    left: 0;
    background-color: #177CA2;
    border-bottom-right-radius: 15px;
    transform: translate(-5px, -5px);
}
.top-right {
    top: 0;
    right: 0;
    background-color: #D95477;
    border-bottom-left-radius: 15px;
    transform: translate(5px, -5px);
}
.bottom-left {
    bottom: 0;
    left: 0;
    background-color: #EBEF7B;
    border-top-right-radius: 15px;
    transform: translate(-5px, 5px);
}
.bottom-right {
    bottom: 0;
    right: 0;
    background-color: #71C963;
    border-top-left-radius: 15px;
    transform: translate(5px, 5px);
}


/* --- Posicionamiento de las etiquetas (Escritorio) --- */
.top-left-label {
    top: 15%;
    left: -18%;
    color: #BBE7F4;
}
.top-left-label::after {
    right: -40px;
    background-color: #177ca2;
}
.top-left-label::before {
    right: -52px;
    background-color: #177ca2;
}

.top-right-label {
    top: 15%;
    right: -18%;
    color: #F8B4C7;
}
.top-right-label::after {
    left: -40px;
    background-color: #d95477;
}
.top-right-label::before {
    left: -52px;
    background-color: #d95477;
}

.bottom-left-label {
    bottom: 15%;
    left: -18%;
    color: #F2F5BC;
}
.bottom-left-label::after {
    right: -40px;
    background-color: #ebef7b;
}
.bottom-left-label::before {
    right: -52px;
    background-color: #ebef7b;
}

.bottom-right-label {
    bottom: 15%;
    right: -18%;
    color: #A9E1A1;
}
.bottom-right-label::after {
    left: -40px;
    background-color: #71c963;
}
.bottom-right-label::before {
    left: -52px;
    background-color: #71c963;
}

/* --- Estilos de la Ventana Modal --- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: rgba(44, 44, 44, 0.1);
    backdrop-filter: blur(6px);
    padding: 25px;
    border: 0.6px solid #48706E;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    color: #CBCBCA;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-height: 100vh;
    overflow-y: auto;
}


.modal-content h2 {
    margin-top: 0;
    font-size: 1rem;
    color: #fff;
}

.close-button {
    color: #5E9390;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#name-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #171717;
    color: #fff;
}

#name-input:focus {
    outline: none;
    border-color: #379585;
    box-shadow: 0 0 5px rgba(63, 120, 131, 0.8);
}

#save-name-button {
    padding: 0 15px;
    margin-top: 10px;
    width: 120px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #1B3439;
    border: none;
    border-radius: 5px;
    transition: background-color 1s ease, transform 0.3s ease, color 3s ease;
    cursor: pointer;
    outline: none;
}

#save-name-button.button-ready {
    background-color: #379585;
}

.button-active-effect {
    color: #1A4C55;
    transform: translateY(-4px);
    filter: brightness(1.9);
}

.name-list-container {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 15px;
    background-color: #171717;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #3F7883;
}

#name-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #fff;
}

#name-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

#name-list li:last-child {
    border-bottom: none;
}

.delete-button {
    background: none;
    border: none;
    color: #D74951;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.delete-button:hover {
    opacity: 1;
}

.subtitulo-rojo {
    font-size: 14px;
    color: #D95477;
}

.subtitulo-azul {
    font-size: 14px;
    color: #61BBD3;
}

.subtitulo-amarillo {
    font-size: 14px;
    color: #EBEF7B;
}

.subtitulo-verde {
    font-size: 14px;
    color: #71C963;
}

.name-to-delete-style {
    color: #C4525A;
    font-weight: bold;
}

/* Estilos específicos para la modal de confirmación */
.confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#accept-delete-button {
    padding: 10px 20px;
    background-color: #C4525A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#accept-delete-button:hover {
    background-color: #D74951;
}

#cancel-delete-button {
    padding: 10px 20px;
    background-color: #3F7883;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cancel-delete-button:hover {
    background-color: #777;
}


/* --- Media Query para dispositivos móviles --- */
@media (max-width: 600px) {
    .circle {
        width: 250px;
        height: 250px;
    }

    .quadrant:active {
        /* Esto hace que el cuadrante brille */
    filter: brightness(1.2);
}

    }


